@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Cookie);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700');

@import "bourbon";
@import "bootstrap";

$blue: #7EB7C4;
$darkblue: rgba(100, 130, 140, 1);

body {
	color: $darkblue;
	background: #FAFCFC;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	color: #FFF;
	text-shadow: 0 10px 20px rgba(100, 130, 140, 0.4);
}

h2 {
	color: $darkblue;
	padding: 30px 0 15px 0;
	a {
		color: $darkblue;

		&:hover {
			text-decoration: none;
			color: $darkblue;
		}
	}
}

h3 {
	padding: 20px 0 10px 0;
}

a {
	color: $darkblue;

	&:hover {
		text-decoration: none;
		color: $darkblue;
	}
}
nav {
	z-index: 10;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		color: #D9E9ED;
		font-size: 20px;
		font-weight: bold;
		text-shadow: 0 10px 30px rgba(100, 130, 140, 0.4);

		&:hover {
			text-decoration: none;
			color: #FFF;
		}

		&.active {
			color: #FFF;
		}
	}
}

.tiles {
	width: 1500px;
	height: 1000px;
	position: absolute;
	z-index: 1;
	top: -500px;
	left: -600px;

	transform: rotate(30deg);

	.col-tiles {
		width: 33%;
		height: 100%;
		float: left;

		&-one {
			width: 66%;
		}
	}

	.tiles-box {
		width: 100%;
		height: 400px;
		float: left;
		background: $blue;

		&-one {
			height: 1000px;
		}

		&-two {
			height: 800px;
			opacity: 0.4;
		}

		&-three {
			height: 700px;
			opacity: 0.2;
		}

		&-four {
			height: 500px;
			opacity: 0.1;
		}
	}
}

.col-padding {
	padding-top: 70px;
}

.container {

	div[class*="col-sm-"] {
		z-index: 10;
	}
}

.card {
	border: none;
	box-shadow: 0 10px 20px rgba(100, 130, 140, 0.4)
}

.footer-nav {

		width: auto;
		float: right;
		padding: 20px 0 0 0;

	li {

		float: left;
		padding: 5px 10px;
	}
}

.card-img-top {
	width: 100%;
	background: #F9FBFC;
}

.tile-jobs {

	a {
		width: 100%;
		float: left;
	}
	span {
		float: left;
		font-size: 13px;


		strong {
			display: block;
			font-size: 18px;
		}
	}
	img {
		float: right;
		max-height: 90px;
		margin: -1.25rem 0;
	}
}

.page {

	h2 {
		margin-top: 0px;

		a {
			display: block;
			font-size: 14px;
			padding-bottom: 10px;
		}
	}

	.card {
		margin-top: 10px;
	}
	.card-block {

		padding: 2rem;

	}

	.card li {
		list-style: disc;
		margin-left: 20px;
	}
}
